body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    background-color: rgba(86, 119, 225, 0.994);
}

img {
    max-width: 100%;
}

.container {
    width: 1600px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 1em;
    padding-right: 1em;
    max-width: 1450px;
    background-color: white;
    margin-top: 20px;
}

.fogo {
    height: 100vh;
}

.container-parceiros {
    text-align: center;
    margin-top: 40px;
    border-radius: 5px;
}

.header {
    background: black;
    width: 100%;
}

.header__nav img {
    height: 100px;
    margin-left: 30px;
}

.header__nav {
    display: flex;
    align-items: center;
    height: 4rem;
    gap: 30px;
}

.header__nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    background: none;
    padding: 16px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
}

.link_loja {
    text-decoration: none;
    color: white;
}

.link_loja:hover {
    color: #242a2c;
}

.header__nav ul {
    display: flex;
    padding-top: 1rem;
    gap: 10px;
    background-color: none;
}

.header__nav li {
    padding: 16px;
    list-style-type: none;
    text-align: center;
    background: none !important;
}

.header_nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: #586165;
    font-size: 14px;
    font-weight: 600;
    display: block;
    padding: 20px 0;
    text-decoration: none;
}

.card-fixo__anuncio2 {
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    background-color: white;
    width: 1450px;
    margin-top: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .7);
}


.card-fixo__anuncio2 img {
    width: 100%;
    height: 100%;
}




.card-fixo__anuncio {
    margin: auto;
    height: 380px;
    width: 710px;
    background-color: white;
    margin-top: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .7);
}

.card-fixo__anuncio img {
    width: 100%;
    height: 100%;
}

.card-fixo__anuncio:hover {
    border: solid transparent;
}




.hero {
    padding-top: 3rem;
}

.people-cards {
    margin-bottom: 2.5em;
}

.people-cards__image img{
    width: 100%;
    max-height: 300px;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.418);
}

/* .people-cards__image img{
    order: ;
} */

.card-teste {
    border-radius: 20px;
    width: 270px;
    height:430px;
    margin: auto;
    background-color: rgba(108, 143, 232, 0.289);
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 7);
    margin-bottom: 30px;
    margin-top: 30px;
}

.card-header {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.card-teste img {
    min-width: 100%;
    width: auto;
    height: 100%;
}

.card-body {
    height: 170px;
    padding: 15px;
    font-family: sans-serif;
    margin: auto;
}

.card-local {
    font-size: 16px;
    margin: 10px 0;

}

.card-titulo {
    font-size: 25px;
    margin: 15px 0;
    color: black;
    text-align: center;
}

.people-cards a {
    text-decoration: none;
}

.card-teste:hover{
    border: solid transparent;
}

.card-texto {

    font-size: 12px;
    width: 250px;
    margin: 0 auto;
    color: black;
}


.people-cards__title {
    color: black;
    font-size: 14px;
}

.people-cards__title2 {
    height: 170px;
    padding: 15px;
    text-align: center;
    font-family: sans-serif;
}

.people-cards__text {
    color: #929da5;
    font-size: 14px;
}

.last-articles {
    margin: auto;
    width: 1600px;
    background-color: white;
    max-width: 1450px;
    padding-left: 1em;
    padding-right: 1em;
}

.last-articles__title {
    padding: 5px 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.last-articles__title h2 {
    font-size: 24px;
    color:black;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
    
}

.last-articles__thumbs {
    display: grid;
    padding-left: 300px;
    grid-auto-rows: auto;
    grid-gap: 0;
    padding-bottom: 30px;
}

.last-articles__thumbs a {
    padding: 0px;
    

}

.last-articles__thumbs img:hover {
    opacity: .7;
}

.last-articles__thumbs img {
    display: block;
    width: 60%;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, .7);
}

.footer {
    margin-bottom: 0;
    background-color:#242a2c;
    padding: 50px 0 250px;
    padding-bottom: 90px;
    color: #454e51;
    font-size: 14px;
    margin-top: 20px;
}

.footer__links li {
    list-style: none;
}

.footer__links a {
    color: #454e51;
    display: block;
    font-weight: 600;
    text-decoration: none;
}

.footer img{
    width: 200px;
}

.footer__logo {
    text-transform: uppercase;
}

.contato {
    list-style-type: none;
}

.contato li {
    margin-top: 15px;
    color: black;
    font-size: 14px;
}

.rua {
    font-weight: bold;
}

.wpp {
    background-color: green;
    width: 200px;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    font-style: none;
    text-decoration: none;
    margin-left: 500px;
}

.wpp img {
    width: 50px;
    margin-left: 10px;
}

.wpp p{
    color: white;
    font-weight: bold;
    margin-left: 5px;
    text-decoration: none;
}

.wpp:hover {
    border: solid transparent;
}

.linkk {
    text-decoration: none;
}

.bottom {
    margin-top: 10px;
    text-align: center;
    background-color: #242a2c;

}



.bottom a {
    color: white;
    display: block;
    padding: 16px;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 600;
}

@media screen and (min-width: 1024px) {
    .header {
        position: fixed;
    }

    .logo-text {
        width: 25%;
        box-sizing: border-box;
    }

    .header__btnMenu {
        display: none;
    }

    .header__nav {
        float: left;
        width: 75%;
        clear: none;
        max-width: 800px;
    }

    .header__nav ul {
        display: flex;
        justify-content: space-around;
    }

    .header__nav li {
        border-bottom: none;
        flex-grow: 1;
    }

    .header__nav a {
        background: white;
    }


    .people-cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px;
    }


    .content .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
    }

    .last-articles__thumbs {
        grid-template-columns: repeat(6, 1fr);
    }

    .footer .container {
        display: flex;
    }

    .footer .container>* {
        margin: 1.5em;
    }
}
